*{
    box-sizing: border-box;
    outline: none !important;
}

.hide-scroll-wrapper {
    width: 680px;
    height: 100vh;
    position: absolute;
    left: 30vw;
    overflow-x: hidden;
    .scroll-down-button {
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: 50px;
        right: 26px;
        border-radius: 20px;
        background-color: #ffffff82;
        pointer-events: all;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background-color 0.2s, opacity cubic-bezier(.18,.87,.18,.87) 0.6s, pointer-events 0.7s;
        svg {
            width: 20px;
            height: 20px;
            rotate: -90deg;
            translate: 0 1px;
            path { transition: fill 0.2s;}
        }
        &:hover {
            background-color: #ffffffc1;;
            path {
                fill: #0000004f;
            }
        }
    }
    .scroll-down-button.hide {
        opacity: 0;
        pointer-events: none;
    }
}
.wrapper {
    padding-left: 12%;
    width: 700px;
    height: 100vh;
    position: absolute;
    left: 0;
    overflow-y: auto;
    background-color: #7fffd4;

}
#news-container{
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0 20px 10px;
    .flex-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
    .post-wrapper.noreaction {
        .post-body{
            padding-bottom: 35px;
        }
    }
    .post-wrapper {
        margin: 30px 0;
        width: 500px;
        height: auto;
        position: relative;
        background-color: #fff;
        border: solid 1px #d7e3ec;
        border-radius: 0 8px 8px 8px;
        i {
            pointer-events: none;
            position: absolute;
            left: -8px;
            top: -1px;
        }
        .lp-logo {
            width: 36px;
            height: 36px;
            border-radius: 18px;
            position: absolute;
            right: calc(100% + 10px);
            background-color: #fff;
        }
        .lp-name {
            padding: 15px 0 10px 20px;
            a{
                font-size: 16px;
                font-weight: 600;
                color: #2481CC;
                text-decoration: none;
            }
            
        }
        .post-photo {
            width: 100%;
            margin-bottom: 15px;
            min-height: 300px;
        }
    }
    .post-body {
        width: 100%;
        padding: 0px 20px 53px 20px;
        font-size: 16px;
        line-height: 21px;
        
    }
    .body-link {
        color: #2481cc;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .reactions-wrapper{
        width: 100%;
        height: 40px;
        position: absolute;
        padding-left: 17px;
        bottom: 5px;
        right: 0;
        font-size: 18px;
        display: flex;
        align-items: center;
        .reaction-container{
           text-decoration: none;
            margin-right: 10px;
            height: 30px;
            display: flex;
            background-color: #3fb8f01c;
            padding: 0 6px;
            border-radius: 15px;
            align-items: end;
            cursor: pointer;
            outline: none;  
            &:hover {
                transition: background-color 0.3s;
                background-color: #3fb8f038;
            }
        }
        span {
            cursor: default;
            margin-right: 4px;
            line-height: 30px;
            pointer-events: none;
            text-shadow: none;
        }
        .text {
            margin-left: 2px;
            font-family: 'Roboto', sans-serif;
            color: #2481cc;
            font-weight: 400;
            font-size: 16px;
            text-shadow: none;
        }
        .info {
            height: 100%;
            position: absolute;
            right: 13px;
            display: flex;
            align-items: end;
            padding-bottom: 4px;

            a {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #00000052;
                text-decoration: none;
                text-shadow: none;
            }
            .views {
                margin-right: 10px;
                height: 20px;
                span {
                    color: #000000ab;
               
                }
            }
            .date {
                margin-right: 0;
                height: 12px;
            }
        }
    }
    .link {
        padding: 0px 30px 0px 0;
        display: block;
        font-size: 14px;
        line-height: 18px;
        text-decoration: none;
        color: #212121;
        &-image {
            position: relative;
            margin: 5px 0 10px 0;
            img{
                width: 100%;
                border-radius: 20px;
                min-height: 220px;
            }
            .play-button {
                width: 70px;
                height: 70px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                border-radius: 35px;
                background-color: #0000005d;
                backdrop-filter: blur(4px);
                display: flex;
                justify-content: center;
                align-items: center;
                &:before {
                    content: '\a011';
                    font-family: 'lp-font';
                    color: #fff;
                    font-size: 37px;
                    transform: translateX(-1px);
                }
            }
        }
        &-wrapper {
            padding-left: 10px;
            padding-bottom: 2px;
            margin-top: 15px;
            border-left: solid 2px #2481CC;
        }
        &-siteName {
            color: #2481CC;
            font-weight: 500;
            margin-bottom: 5px;
        }
        &-title {
            font-weight: 600;
            margin-bottom: 5px;
            overflow: hidden;
            display: -webkit-box;
            display: -moz-box;
            box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            line-clamp: 3;
            -webkit-line-clamp: 3;
        }
        &-body {
            overflow: hidden;
            display: -webkit-box;
            display: -moz-box;
            box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            line-clamp: 9;
            -webkit-line-clamp: 9;
        }
        .noto-color-emoji-regular{
            font-size: 16px;
        }
    }
}

.date-container {
    width: 500px;
    position: relative;
    margin-bottom: 5px;
    // display: flex;
    // flex-direction: column-reverse;
}
.date-sticky-element {
    position: sticky;
    top: 20px;
    z-index: 10;
    width: 100%;
    text-align: center;
    pointer-events: none;
    span {
        background-color: #0037324d;
        padding: 5px 7px;
        border-radius: 15px;
        line-height: 30px;
        font-size: 14px;
        color: #fff;
        backdrop-filter: blur(5px);

    }
    // &:before{
    //     content: '';
    //     position: absolute;
    //     height: 100%;
    //     width: 100%;
    //     left: 50%;
    //     top: 50%;
    //     border-radius: 16.5px;
    //     transform: translate(-50%, -50%);
    //     border: 2px solid rgba(2, 1, 1, 0.397);
    // }
}

.visual-panel{
    position: absolute;
    width: 20px;
    height: 100vh;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    pointer-events: all;
    opacity: 1;
    transition: opacity cubic-bezier(.18,.87,.18,.87) 0.6s;
    .scroll-place {
        height: 95vh;
        width: 4px;
        position: absolute;
        right: 5px;
        
        top: 2.5vh;
        background-color: #ffffff61;
        border-radius: 5px;
        .scroll-caret {
            width: 100%;
            height: 100px;
            position: absolute;
            top: 50%;
            border-radius: 5px;
            background-color: #0000001f;
        }
    }
    .date-container {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 10px;
        div {
            height: auto;
            position: relative;
            width: 100%;
            .date-element {
                top: 20px;
            }
            .sticky{
                position: sticky;
            }
        }
    }
}
.visual-panel.hide {
    opacity: 0;
    pointer-events: none;
}

.noto-color-emoji-regular{
    font-size: 18px;
}